# Django Settings
SECRET_KEY=e#up@u77&lsxq5)cz3m4^e0b44n@7zk^7-q1s!0x+g4$qhx3+m
DEBUG=False
ALLOWED_HOSTS=https://parcial2-ruiz-dario.onrender.com

# Database (Render will provide this automatically)
DATABASE_URL=postgresql://mercalma:xG8JFfzWUVn0hCq2xOF2KCpP1q5IgTFe@dpg-d4isef2dbo4c73bvj790-a/mercalma

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=ruizdario181@gmail.com
EMAIL_HOST_PASSWORD=huve fknl bzir wale
DEFAULT_FROM_EMAIL=ruizdario181@gmail.com
